:root {
  --brand-color: #03a9f4;
  --body-bg: linear-gradient(
    180deg,
    rgba(222, 178, 226, 1) 0%,
    rgba(241, 255, 184, 1) 100%
  );
  --text-color: #003300;

  /* Cells  */
  /* --terrain-color: #afd076; */
  --terrain-color: #b2b3bc;
  --forest-color: #086826;
  --water-color: #b0f4ff;
  --cement-color: #bdbdb4;

  --sprite-frame-width: 64;
  --sprite-cols: 4;
  --sprite-width: 320px;

  --cell-size-cof: 0.4;
  --cell-size: calc((var(--sprite-frame-width) * var(--cell-size-cof)));

  --sprite-bg-size: calc(
    var(--sprite-width) / calc(var(--sprite-frame-width) / var(--cell-size))
  );
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--body-bg);
  color: var(--text-color);
}

body.factory-type-selected--bank {
  cursor: url(assets/factory-sprites/cursor_bank.png), auto;
}

body.factory-type-selected--mine {
  cursor: url(assets/factory-sprites/cursor_coal-mine.png), auto;
}

body.factory-type-selected--wolframite-mine {
  cursor: url(assets/factory-sprites/cursor_wolframite-mine.png), auto;
}

body.factory-type-selected--workshop {
  cursor: url(assets/factory-sprites/cursor_workshop.png), auto;
}

body.factory-type-selected--storage {
  cursor: url(assets/factory-sprites/cursor_storage.png), auto;
}

body.factory-type-selected--forge {
  cursor: url(assets/factory-sprites/cursor_forge.png), auto;
}

body.factory-type-selected--furnace {
  cursor: url(assets/factory-sprites/cursor_furnace.png), auto;
}

body.factory-type-selected--manufacturer {
  cursor: url(assets/factory-sprites/cursor_manufacturer.png), auto;
}

body.factory-type-selected--industrial-factory {
  cursor: url(assets/factory-sprites/cursor_industrial-factory.png), auto;
}

body.factory-type-selected--machine-shop {
  cursor: url(assets/factory-sprites/cursor_machine-shop.png), auto;
}

body.factory-type-selected--research-lab {
  cursor: url(assets/factory-sprites/cursor_research-lab.png), auto;
}

.container {
  padding: 2em;
}

.row {
  display: flex;
}

.cell {
  flex-shrink: 0;
  width: calc(var(--cell-size) * 1px);
  height: calc(var(--cell-size) * 1px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.cell:hover {
  opacity: 0.5;
}

.cell--terrain {
  background-color: var(--terrain-color);
}

.cell--forest {
  background-color: var(--forest-color);
}

.cell--sand {
  background-color: var(--sand-color);
}

.cell--water {
  background-color: var(--water-color);
}

.cell--cement {
  background-color: var(--cement-color);
}

.structure {
  width: 100%;
  height: 100%;
}

.game-map {
  position: relative;
  width: fit-content;
  /* FIXME: SVG doesn't display properly */
  /* transform: rotate3d(1, 0, 0, 55deg) rotate(45deg); */
}

.game-map svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 1;
}
